.datasets/
.DS_Store
*.yml
*.log
*.txt
*.json
*.pyc
__pycache__/
.ruff_cache/
results/
.venv/
git-ai
!experiment_configs/*.json
!experiment_configs/**/*.json
!deploy/deploy_servers.json
data/main.py
main.py
README.md
